* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

/* header styles */

header {
  background-color: #1f2937;
  font-weight: 24px;
  display: flex;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  /* border: 5px solid rgb(17, 134, 180); */
  width: 100%;
  flex-wrap: wrap;
}

.header-container-1 {
  display: flex;
  flex: 1;
  /* border: 2px solid rgb(10, 224, 10); */
  align-items: center;
  height: 50px;
  justify-content: flex-start;
  padding-left: 10%;
}

.header-container-2 {
  display: flex;
  flex: 1;
  /* border: 2px solid rgb(12, 228, 12); */
  height: 50px;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  padding-right: 10%;

}

h1 {
  color: #f9faf8;
  font-weight: bold;
  /* border: 2px solid red; */
}

a {
  color: lightgray;
  text-decoration: none;
  /* border: 2px solid red; */
}

/* Random information hero section */

section {
    display: flex;
    justify-content: center;
    height: 500px;
    /* border: 2px solid red; */
    background-color: #1f2937;
    /* flex-wrap: wrap; */
}

.section-container-1 {
    /* flex: 1 1 0; */
    /* border: 2px solid rgb(10, 224, 10); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    padding-left: 10%;
    width: 50vw;
}

.section-container-2 {
    display: flex;
    /* flex: 1 1 0; */
    /* border: 2px solid rgb(10, 224, 10); */
    justify-content: flex-start;
    align-items: center;
    width: 50vw;
}

h2 {
    font-size: 48px;
    font-weight: 500;
    color: #f9faf8;
}

section p {
    /* border: 2px solid red; */
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 300;
}

button {
    height: 30px;
    width: 100px;
    border-radius: 7px;
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: bolder;
}

.placeholder-image {
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45%;
    width: 80%;
    background-color: rgba(128, 128, 128, 0.507);
    color: #f9faf8;
}

/* Random information section styles */

.random-info {
    height: 500px;
    border: 2px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    /* border: 2px solid rgb(10, 224, 10); */
    height: 100px;
    font-size: 36px;
    font-weight: 500;
    justify-content: center;
    display: flex;
    align-items: center;

}

.info-container {
    display: flex;
    gap: 33px;
    /* border: 2px solid orange; */
    width: 800px;
    justify-content: center;
    margin-top: 30px;
}

.card {
    /* border: 2px solid rgb(0, 255, 255); */
}

.illustration {
    height: 175px;
    border: 4px solid rgb(75, 151, 223);
    border-radius: 15px;
}

.subtext {
    text-align: center;
    font-weight: lighter;
    margin-top: 5px;
}